<a href="https://colab.research.google.com/github/5lander/Uso-de-Excel-vs-python/blob/main/TrabajoAutonomo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
datos=pd.read_csv('SuicideChina.csv')

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2571 entries, 0 to 2570
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2571 non-null   int64
 1   Person_ID     2571 non-null   int64
 2   Hospitalised  2571 non-null   object
 3   Died          2571 non-null   object
 4   Urban         2571 non-null   object
 5   Year          2571 non-null   int64
 6   Month         2571 non-null   int64
 7   Sex           2571 non-null   object
 8   Age           2571 non-null   int64
 9   Education     2571 non-null   object
 10  Occupation    2571 non-null   object
 11  method        2571 non-null   object
dtypes: int64(5), object(7)
memory usage: 241.2+ KB

In [ ]:
datos.shape

(2571, 12)

In [ ]:
datos['Age'].describe()
##En esta parte se descibren los cuartiles

count    2571.000000
mean       52.630883
std        19.783878
min        12.000000
25%        37.000000
50%        53.000000
75%        69.000000
max       100.000000
Name: Age, dtype: float64

In [ ]:
datos['Age'].median()

53.0

In [ ]:
datos['Age'].mean()

52.63088292493193